@import "tailwindcss";

@keyframes toast-in {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-toast-in {
  animation: toast-in 0.25s ease-out;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* ============================= */
/* 🔥 Premium Minimal Scrollbar */
/* ============================= */

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  transition: all 0.3s ease;
}

/* 🌞 Light Theme */
.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #d4d4d8; /* soft zinc-300 */
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa; /* zinc-400 */
}

/* 🌙 Dark Theme */
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* zinc-700 */
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* zinc-600 */
}

/* .custom-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  height: 6px;
} */
